Flask~=3.0.3
ruff~=0.12.9
pytest~=9.0.1
Werkzeug==3.1.4
wtforms==3.2.1
Flask-WTF==1.2.2
password-validator==1.0
SQLAlchemy~=2.0.33
python-dotenv~=1.1.1
pillow~=11.3.0
overrides~=7.7.0

# if using postgresql
psycopg2-binary~=2.9.11