{% extends 'base.html' %}

{% block title %}User | {{user.username}}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user/followers.css') }}">
{% endblock %}

{% block body %}
<main class="followers-layout">
    <div class="followers-wrapper">
        <section class="followers-grid" aria-label="User followers area">
            <div class="followers-header">
                <h2>Followers of {{ user.username }}</h2>
            </div>
            <div class="followers-list">
              {% for follower in followers %}
              <div class="follower-item">
                  <a href="/user/{{follower.username}}">
                    <img src="{{follower.profile_picture_path}}" alt="{{follower.username}}'s avatar" class="follower-avatar">
                  </a>
                  <div class="follower-info">
                      <p class="follower-username">{{follower.username}}</p>
                      <p class="follower-bio">{{follower.bio}}</p>
                  </div>
              </div>
              {% else %}
              <p>No followers yet.</p>
              {% endfor %}
            </div>
        </section>
    </div>
</main>
{% endblock %}