<nav class="app-nav bottom-nav" role="navigation" aria-label="Main">
  <ul class="nav-list">
    <li class="nav-item">
      <a class="nav-link" href="/">
          <img src="{{ url_for('static', filename='images/favicon/paw.ico') }}" alt="App Logo" class="nav-logo paw-logo">
        </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('user.view_user_profile', username=session.get('user_name')) }}">
          <img src="{{ url_for('static', filename='images/assets/user.png') }}" alt="App Logo" class="nav-logo">
      </a>
    </li>

    <li class="nav-item">
      {% if session.get('user_name') %}
        <a class="nav-link" href="/upload">
          <img src="{{ url_for('static', filename='images/assets/nav/more.png') }}" alt="App Logo" class="nav-logo">
        </a>
      {% else %}
        <a class="nav-link" href="/login">Profile</a>
      {% endif %}
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/auth/logout">
          <img src="{{ url_for('static', filename='images/assets/nav/logout.png') }}" alt="App Logo" class="nav-logo">
        </a>
    </li>
  </ul>
</nav>