.body{
    padding: 0;
}

.post-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    backdrop-filter: blur(10px) saturate(120%);
}

.post-media{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.post-media img,
.post-media video{
    width: auto;
    height: auto;
    max-width: 95vw;
    max-height: 95vh;
    display: block;
    object-fit: contain;
    object-position: center;
}