
    @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
}
body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
    background: url("https://img.freepik.com/free-vector/animal-background-vector-with-cute-pets-illustration_53876-127698.jpg?semt=ais_hybrid&w=740&q=80");
  background-size: cover;
}
.wrapper {
  width: 400px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
    /*background-color: white;*/
  -webkit-backdrop-filter: blur(10px);
}
form {
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: black;
}
.input-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
}
.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: black;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}
.input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: black;
    border-radius: 8px;
}
.input-field input:focus~label,
.input-field input:valid~label {
  font-size: 0.8rem;
  top: 5px;
  transform: translateY(-120%);
}
.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 35px 0;
  color: black;
}
#remember {
  accent-color: #fff;
}
.forget label {
  display: flex;
  align-items: center;
}
.forget label p {
  margin-left: 8px;
}
.wrapper a {

  text-decoration: none;
}
.wrapper a:hover {
  text-decoration: underline;
}
button {
  background: #f5f5f7;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;

}
button:hover {
  color: #fff;
  border-color: #2684ff;
  background: #2684ff;
}
.register {
  text-align: center;
  margin-top: 30px;
  color: black;
}


  .form-errors {
    margin-top: 0.1rem;
    padding-left: 5px;
    color: red;
    font-size: 10px;
    list-style: disc;
    font-weight: 500;
    font-variation-settings: "wght" 500, "ital" 0;

    li {
      margin-bottom: 0.25rem;
    }
  }

