.video {
  width:100%;
  height:auto;
  transition: all .2s ease;
  border-radius:15px;
  min-width: 25rem;
}

.video.paused {
  filter:brightness(0.8);
  transition: all .2s ease;
}

@media (max-width: 520px) {
  .video{
    min-width: 20rem;
  }
}